body{
color: white;
background-color: #232323;
text-align: center;
}
.header{
    background-color:rgb(82, 133, 178);
}
.controller{
    background-color: whitle;
    z-index: 1000;
}
button{
    color:rgb(82, 133, 178);
}
h1, h3{
    padding: 0;
    margin: 0;
}
.square{
    width: 30%;
    background-color: red;
    border-radius: 10%;
    padding-bottom: 30%;
    float: left;
    margin-bottom: 1.66%;
}
