/*===============================================
General css
=============================================== */
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
background-color: rgb(35, 35, 35);
color:white;
text-align: center;
margin: 0;
padding: 0;
}
/*===============================================
                    Header
=============================================== */
#header{
    background-color: rgb(57, 133, 176);
    margin-top: 0;
    padding: 3%;
    text-transform: uppercase;
    display: block;
    font-weight: 100;
    margin: 0;
}
#selected-color{
    font-size: 200%;
}
/*===============================================
                    Contdroller
=============================================== */
#controller{
    margin:0;
    color:  rgb(57, 133, 176);
    background-color: white;
}
.btn-controller{
    color:  rgb(57, 133, 176);
    text-transform: uppercase;
    border: 0;
}
/*===============================================
                    Square
=============================================== */
.squares{
  
}
#group1{
 
}
.square{
    display: inline-block;
    width: 100px;
    height: 100px; 
    background-color: blueviolet;
    margin: 1% ;
    border-radius: 15%;
}
